# D209 - Data Mining I
by Desiree McElroy

In [2]:
# imports
import pandas as pd
import numpy as np

import wrangle as w

# Part I: Research Question

A.  Describe the purpose of this data mining report by doing the following:

## A1. Research Question

My research question is what could be contributing factors in someone being diagnosed with diabetes? Could these features be solid predictors in identifying who is more at risk for diabetes?

## A2.  Goal of the Data Analysis.

 According to the Center for Disease Control (CDC), diabetes affects more than 38 million Americans. This disease remains a serious illness among population. By exploring this data set using Naive Bayes methods, I may be able to uncover what underlying patterns and correlations that may be contributing to this disease. Demographics, location and lifestyle features are known to be associated with the risk of diabetes.
By incorporating these variables into a Naive Bayes model, I can predict the likelihood of diabetes and identify which factors are most strongly associated with a diagnosis. Naive Bayes is effective for this because it assumes feature independence, allowing it to efficiently model the contributions of each factor. In summary, my main goal is to identify what importance each feature may have in relation to diabetes.

# Part II: Method Justification

B.  Explain the reasons for your chosen classification method from part A1 by doing the following:

## B1.  Explain how the classification method you chose analyzes the selected data set. Include expected outcomes.

Additionally, this method is known to be fast and efficient, requiring less computing requirements. Despite it's simplistic nature, naive bayes can handle high dimensionality, particularly in text documents. Luckily, for this dataset, dimensionality is not as much of a concern with its low cardinal variables.

## B2.  Summarize one assumption of the chosen classification method.
One of the main reasons Naive Bayes received it's name ***Naive*** is because of an assumption that all feature variables are completely independent of one another.

## B3.  List the packages or libraries you have chosen for Python or R and justify how each item on the list supports the analysis.

# Part III: Data Preparation

C.  Perform data preparation for the chosen data set by doing the following:

1.  Describe one data preprocessing goal relevant to the classification method from part A1.

2.  Identify the initial data set variables that you will use to perform the analysis for the classification question from part A1 and classify each variable as numeric or categorical.

3.  Explain each of the steps used to prepare the data for the analysis. Identify the code segment for each step.

4.  Provide a copy of the cleaned data set.

In [3]:
df = w.wrangle_df(filepath='medical_raw_df.csv')
df.head()

,city,state,county,population,area,children,age,marital,gender,readmission,...,hyperlipidemia,backpain,anxiety,allergic_rhinitis,reflux_esophagitis,asthma,services_received,hospital_stay_days,daily_charges,additional_charges
0,Eva,AL,Morgan,2951,Suburban,1,53,Divorced,Male,False,...,False,True,True,True,False,True,Blood Work,10,3726.70,17939.40
1,Marianna,FL,Jackson,11303,Urban,3,51,Married,Female,False,...,False,False,False,False,True,False,Intravenous,15,4193.19,17613.00
2,Sioux Falls,SD,Minnehaha,17125,Suburban,3,53,Widowed,Female,False,...,False,False,False,False,False,False,Blood Work,4,2434.23,17505.19
3,New Richland,MN,Waseca,2162,Suburban,0,78,Married,Male,False,...,False,False,False,False,True,True,Blood Work,1,2127.83,12993.44
4,West Point,VA,King William,5287,Rural,1,22,Widowed,Female,False,...,True,False,False,True,False,False,CT Scan,1,2113.07,3716.53

In [ ]:
# separate exploratory variables into type for ease of exploring

# continuous variables
cont_vars = ['age',
             'income',
             'vitd_levels',
             'daily_charges',
             'additional_charges',
             'population',
             'children',
             'doc_visits',
             'full_meals_eaten',
             'vitd_levels',
             'vitd_supplement',
             'item2',
             'item3',
             'item4',
             'item5',
             'item6',
             'item7',
             'item8']

# categorical variables
cat_vars = ['gender', 
            'marital',
            'area',
            'timezone', 
            'initial_admin',
            'complication_risk',
            'services_received']


# List of boolean health-related variables
boolean_vars = ['readmission',
                'high_blood', 
                'stroke',  
                'overweight', 
                'arthritis', 
                'diabetes', 
                'hyperlipidemia', 
                'backpain', 
                'anxiety', 
                'allergic_rhinitis', 
                'reflux_esophagitis', 
                'asthma',
                'full_meals_eaten',
                'soft_drink']

# Part IV: Analysis

D.  Perform the data analysis and report on the results by doing the following:

1.  Split the data into training and test data sets and provide the file(s).

2.  Describe the analysis technique you used to appropriately analyze the data. Include screenshots of the intermediate calculations you performed.

3.  Provide the code used to perform the classification analysis from part D2.

# Part V: Data Summary and Implications

E.  Summarize your data analysis by doing the following:

1.  Explain the accuracy and the area under the curve (AUC) of your classification model.

2.  Discuss the results and implications of your classification analysis.

3.  Discuss one limitation of your data analysis.

4.  Recommend a course of action for the real-world organizational situation from part A1 based on your results and implications discussed in part E2.

# Web Sources
- https://www.cdc.gov/diabetes/php/data-research/index.html#:~:text=Among%20the%20U.S.%20population%20overall,Table%201a%3B%20Table%201b).

- https://www.ibm.com/topics/naive-bayes#:~:text=IBM-,What%20are%20Na%C3%AFve%20Bayes%20classifiers%3F,probability%20to%20perform%20classification%20tasks.