# D209 - Data Mining I
by Desiree McElroy

In [1]:
# imports
import pandas as pd
import numpy as np

import wrangle as w

# Part I: Research Question

A.  Describe the purpose of this data mining report by doing the following:

## A1. Research Question

My research question is what could be contributing factors in someone being diagnosed with diabetes? Could these features be solid predictors in identifying who is more at risk for diabetes?

## A2.  Goal of the Data Analysis.

 According to the Center for Disease Control (CDC), diabetes affects more than 38 million Americans. This disease remains a serious illness among population. By exploring this data set using Naive Bayes methods, I may be able to uncover what underlying patterns and correlations that may be contributing to this disease. Demographics, location and lifestyle features are known to be associated with the risk of diabetes.
By incorporating these variables into a Naive Bayes model, I can predict the likelihood of diabetes and identify which factors are most strongly associated with a diagnosis. Naive Bayes is effective for this because it assumes feature independence, allowing it to efficiently model the contributions of each factor. In summary, my main goal is to identify what importance each feature may have in relation to diabetes.

# Part II: Method Justification

## B1.  Naive Bayes Justification

Naive Bayes is an effective algorithm for classifying features in predicting target variables like diabetes due to its simplicity, speed, and ability to handle high dimensional data. The algorithm's different functions, such as Gaussian Naive Bayes (handling continuous variables like age) and Bernoulli Naive Bayes (suitable for binary and categorical features) make it adaptable to datasets with a variety of data types. This flexibility makes it ideal for this dataset.

Naive Bayes can still perform well even when its assumption of feature independence is violated. Additionally, while Naive Bayes does not necessarily address imbalanced data, it can handle imbalanced datasets well due to the probabilistic nature of its predictions. This is vital for features like gender that contains severe class imbalances.

While dimensionality isnâ€™t a major concern in the dataset (lacking high cardinality), Naive Bayes performs well in high-dimensional spaces, particularly in text classification tasks. Lastly, Naive Bayes is computationally efficient, making it suitable for faster predictions, which can be beneficial for larger healthcare systems and real life applications.

Given the nature of the dataset, Naive Bayes is expected to perform well in identifying contributing factors for diabetes, such as age, area, and medical conditions (e.g. overweight). The model will provide probabilistic outputs, allowing the estimation of the likelihood of a patient being diagnosed with diabetes based on the features.

## B2.  Summarize one assumption of the chosen classification method.
One of the main reasons Naive Bayes received its name ***naive*** is because of an assumption that all feature variables are completely independent of one another. It naively assumes the "presence or absence of a particular feature does not affect the presence or absence of any other feature" (Spot Intelligence 2024). Despite this assumption often being violated due to its unrealistic nature, this algorithm still performs fairly well in practice.

## B3.  Python Packages & Libraries

Python has many versatile libraries including NumPy (numerical python operations) and Pandas (used for manipulation of dataframes). During the wrangling phase, the pandas library proves to be incredibly useful for the manipulation of dataframes, including cleaning, transforming and creating new features. It has many useful functions needed to help prepare dataframes for modeling such as functions to fill nulls, change data types, and one hot encode variables. Numpy is also a favorite with it's powerful performance with numerical operations on arrays. This is especially useful for preparing data for machine learning models like Naive Bayes.

Scikit-learn (sklearn) is a great library for machine learning because it provides a wide range of efficient tools for model building, data preprocessing, and evaluation. It offers user friendly functions for classification tasks. Additionally, its integration with NumPy and Pandas makes data manipulation easily achievable, and it supports techniques such as cross validation and model fine tuning.

In summary, these versatile packages, their ease of use and large community make them a strong tool for this project.

# Part III: Data Preparation
## C1.  Data Preprocessing
While data in general requires many preprocessing steps to prepare for machine learning, one of the most important ones is one hot encoding. Models such as Naive Bayes require numerical data. When working with tabular data, any non numerical variables must be converted to numerical representation. One hot encoding is an especially useful function in converting categorical variables into readable numerical columns. Each value in the specific column will be transformed into a *flag* column (binary 1/0). For example, gender has the three values: female, male and nonbinary. In order for this to be translated numerically, each value will be transformed into its own flag column, often dropping the first column to avoid repetitiveness. In turn the results will be two binary columns representing `male` and `nonbinary`. Both columns having 0 as a value mathematically represents the female gender.

## C2.  Initial data set variables that you will use to perform the analysis for the classification question from part A1 and classify each variable as numeric or categorical.

The initial dataset variables below show a variety of descriptors including patient medical history, geographical information and hospital stay details. Medical history information includes history of backpain, obesity and age. Geographical information describes the area in which they live in including the local population count and area type. Lastly, the details of their medical stay include what type of admission it was and services receieved.

My **numerical** variables consist of:\

| Feature       | Description   |
| :------------- | :----------: |
|`age` | numerical |
|`vitd_levels` | numerical |
|`daily_charges` | numerical |
|`additional_charges` | numerical |
|`population` | numerical |
|`children` | numerical |
|`doc_visits` | numerical |
|`full_meals_eaten` | numerical |
|`vitd_supplement` | numerical |
| `gender` | categorical |
|`marital` | categorical |
|`area` | categorical |
|`state` | categorical |
|`initial_admin` | categorical |
|`complication_risk` | categorical |
|`services_received` | categorical |
|`readmission` | categorical |
|`high_blood` | categorical |
|`stroke` | categorical |
|`overweight` | categorical |
|`arthritis` | categorical |
|`diabetes` | categorical |
|`hyperlipidemia` | categorical |
|`backpain` | categorical |
|`anxiety` | categorical |
|`allergic_rhinitis` | categorical |
|`reflux_esophagitis` | categorical |
|`asthma` | categorical |
|`soft_drink` | categorical |

The numerical variables are all ordinal, which means they have an inherent order or ranking. Excluding additional and daily charges, these variables are primarily countable and thus marks them as discrete. Age and vitd_level can arguably be considered continuous but for this project, they will be identified as discrete. Additional and daily charges are continuous numerical variables. Since this project will begin with Gaussian Naive Bayes, it is necessary to scale the continuous values in order to abide by the assumption that the data follows a normal distribution.

The first set of categorical variables listed above are considered categorical because each value is representative of a category. Likewise for the boolean variables, despite those being a numeric data type, there is no ordinal value to the values 1 or 0. In this case, these value of 1 indicates positive or True while 0 indicates negative or False. These categorical features have varying values from (1,0), (Yes,No) and (True,False). In either case, there is a value for True and a value for False. These variables do need to be converted to numerical values in order to be readable for modeling.

In [2]:
raw_df = w.get_df(filepath = 'medical_raw_df.csv')
raw_df.head().T

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         10000 non-null  object
 1   interaction         10000 non-null  object
 2   uid                 10000 non-null  object
 3   city                10000 non-null  object
 4   state               10000 non-null  object
 5   county              10000 non-null  object
 6   zip                 10000 non-null  int64
 7   lat                 10000 non-null  float64
 8   lng                 10000 non-null  float64
 9   population          10000 non-null  int64
 10  area                10000 non-null  object
 11  timezone            10000 non-null  object
 12  job                 10000 non-null  object
 13  children            10000 non-null  int64
 14  age                 10000 non-null  int64
 15  income              10000 non-null  float64
 16  marital             10000 non-null  object
 17  gender              10000 non-null  object
 18  readmis             10000 non-null  object
 19  vitd_levels         10000 non-null  float64
 20  doc_visits          10000 non-null  int64
 21  full_meals_eaten    10000 non-null  int64
 22  vitd_supp           10000 non-null  int64
 23  soft_drink          10000 non-null  object
 24  initial_admin       10000 non-null  object
 25  highblood           10000 non-null  object
 26  stroke              10000 non-null  object
 27  complication_risk   10000 non-null  object
 28  overweight          10000 non-null  object
 29  arthritis           10000 non-null  object
 30  diabetes            10000 non-null  object
 31  hyperlipidemia      10000 non-null  object
 32  backpain            10000 non-null  object
 33  anxiety             10000 non-null  object
 34  allergic_rhinitis   10000 non-null  object
 35  reflux_esophagitis  10000 non-null  object
 36  asthma              10000 non-null  object
 37  services            10000 non-null  object
 38  initial_days        10000 non-null  float64
 39  totalcharge         10000 non-null  float64
 40  additional_charges  10000 non-null  float64
 41  item1               10000 non-null  int64
 42  item2               10000 non-null  int64
 43  item3               10000 non-null  int64
 44  item4               10000 non-null  int64
 45  item5               10000 non-null  int64
 46  item6               10000 non-null  int64
 47  item7               10000 non-null  int64
 48  item8               10000 non-null  int64
dtypes: float64(7), int64(15), object(27)
memory usage: 3.8+ MB
None

CaseOrder,1,2,3,4,5
customer_id,C412403,Z919181,F995323,A879973,C544523
interaction,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,d2450b70-0337-4406-bdbb-bc1037f1734c,a2057123-abf5-4a2c-abad-8ffe33512562,1dec528d-eb34-4079-adce-0d7a40e82205,5885f56b-d6da-43a3-8760-83583af94266
uid,3a83ddb66e2ae73798bdf1d705dc0932,176354c5eef714957d486009feabf195,e19a0fa00aeda885b8a436757e889bc9,cd17d7b6d152cb6f23957346d11c3f07,d2f0425877b10ed6bb381f3e2579424a
city,Eva,Marianna,Sioux Falls,New Richland,West Point
state,AL,FL,SD,MN,VA
county,Morgan,Jackson,Minnehaha,Waseca,King William
zip,35621,32446,57110,56072,23181
lat,34.3496,30.84513,43.54321,43.89744,37.59894
lng,-86.72508,-85.22907,-96.63772,-93.51479,-76.88958
population,2951,11303,17125,2162,5287
area,Suburban,Urban,Suburban,Suburban,Rural
timezone,America/Chicago,America/Chicago,America/Chicago,America/Chicago,America/New_York
job,"Psychologist, sport and exercise",Community development worker,Chief Executive Officer,Early years teacher,Health promotion specialist
children,1,3,3,0,1
age,53,51,53,78,22
income,86575.93,46805.99,14370.14,39741.49,1209.56
marital,Divorced,Married,Widowed,Married,Widowed
gender,Male,Female,Female,Male,Female
readmis,No,No,No,No,No
vitd_levels,19.141466,18.940352,18.057507,16.576858,17.439069
doc_visits,6,4,4,4,5
full_meals_eaten,0,2,1,1,0
vitd_supp,0,1,0,0,2
soft_drink,No,No,No,No,Yes
initial_admin,Emergency Admission,Emergency Admission,Elective Admission,Elective Admission,Elective Admission
highblood,Yes,Yes,Yes,No,No
stroke,No,No,No,Yes,No
complication_risk,Medium,High,Medium,Medium,Low
overweight,No,Yes,Yes,No,No
arthritis,Yes,No,No,Yes,No
diabetes,Yes,No,Yes,No,No
hyperlipidemia,No,No,No,No,Yes
backpain,Yes,No,No,No,No
anxiety,Yes,No,No,No,No
allergic_rhinitis,Yes,No,No,No,Yes
reflux_esophagitis,No,Yes,No,Yes,No
asthma,Yes,No,No,Yes,No
services,Blood Work,Intravenous,Blood Work,Blood Work,CT Scan
initial_days,10.58577,15.129562,4.772177,1.714879,1.254807
totalcharge,3726.70286,4193.190458,2434.234222,2127.830423,2113.073274
additional_charges,17939.40342,17612.99812,17505.19246,12993.43735,3716.525786
item1,3,3,2,3,2
item2,3,4,4,5,1
item3,2,3,4,5,3
item4,2,4,4,3,3
item5,4,4,3,4,5
item6,3,4,4,5,3
item7,3,3,3,5,4
item8,4,3,3,5,3

## C3.  Prepare the data for the Modeling analysis. Identify the code segment for each step.
The first preparation step is to clean the dataframe as needed. For this dataset, duplicates and null values are not present. For the sake of automating the code, an assertion statement is entered to confirm no presence of nulls and duplicates. 

I will employ my `clean_df()` function to prepare the data frame. The code includes the correction of data types and standardizing values for more readability. Columns such as readmission, soft_drink, and other health related variables with yes/no or (1,0) responses are converted to boolean data types. Values in columns like vitd_levels, daily_charges, and additional_charges will be cleanly rounded to two decimal places. Columns such as population, children, and income will be corrected from float to integer types. Columns including marital, gender, and other service related fields will be designated as categorical data types.

I chose to remove identifier variables such as case order, customer id, interaction and unique id. These columns are variables identifiable to the patient and have no numerical value. Next I removed excessive geographical features such as city, zip and latitude/longitude. These data would require more robust exploration and transformation and are not suitable for initial minimal viable product modeling. I also exclude personal patient details such as income and job and removed survey answers item 1 through item 8 as these are known to have multi-collinearity which would violate the basic assumption of Naive Bayes.

In [4]:
# basic clean function
df = w.clean_df(raw_df)
df.head()

,state,population,area,children,age,marital,gender,readmission,vitd_levels,doc_visits,...,hyperlipidemia,backpain,anxiety,allergic_rhinitis,reflux_esophagitis,asthma,services_received,hospital_stay_days,daily_charges,additional_charges
0,AL,2951,Suburban,1,53,Divorced,Male,False,19.14,6,...,False,True,True,True,False,True,Blood Work,10,3726.70,17939.40
1,FL,11303,Urban,3,51,Married,Female,False,18.94,4,...,False,False,False,False,True,False,Intravenous,15,4193.19,17613.00
2,SD,17125,Suburban,3,53,Widowed,Female,False,18.06,4,...,False,False,False,False,False,False,Blood Work,4,2434.23,17505.19
3,MN,2162,Suburban,0,78,Married,Male,False,16.58,4,...,False,False,False,False,True,True,Blood Work,1,2127.83,12993.44
4,VA,5287,Rural,1,22,Widowed,Female,False,17.44,5,...,True,False,False,True,False,False,CT Scan,1,2113.07,3716.53

In [4]:
# separate exploratory variables into type for ease of exploring

# numerical/ordinal variables
num_vars = ['age',
             'vitd_levels',
             'population',
             'children',
             'doc_visits',
             'full_meals_eaten',
             'vitd_levels',
             'vitd_supplement']

cont_vars = ['daily_charges',
            'additional_charges']

# categorical variables
cat_vars = ['gender', 
            'marital',
            'area',
            'state',
            'initial_admin',
            'complication_risk',
            'services_received']


# categorical of boolean health-related variables
bool_vars = ['readmission',
             'high_blood', 
             'stroke',  
             'overweight', 
             'arthritis', 
             'diabetes', 
             'hyperlipidemia', 
             'backpain', 
             'anxiety', 
             'allergic_rhinitis', 
             'reflux_esophagitis', 
             'asthma',
             'soft_drink']






In order to prepare the data for modeling there a few required steps. Algorithms are not built to read text. So to start, all data must be transformed into readable numerical values.

Continuous numerical values must be scaled for the model to score properly. Discrete features normally have a small range (e.g. 0 to 5) and can often be used directly in the model without scaling, as they do not typically cause issues with the model's performance or interpretation. In this scenario, the discrete features all have larger ranges and will be included in scaling.

Categorical variables will be engineered into binary dummy columns, representing each unique value within that feature. This process will ensure categorical data is correctly encoded for the model. Columns with Yes/No values will be transformed into 1/0, respectively to simplify their representation as boolean features.

Unique identifiers such as customer_id, interaction and unique_id are removed as they have no relevance to the prediction of stay. Other columns such as those related to location (e.g., city, state, zip) and variables like income and job, will also be omitted in this iteration for ethical considerations and practical analysis constraints. The job feature in particular, contains a large variety of values, making it less efficient to create dummy variables for each category. Instead, methods like clustering or binning could be explored in the future to group jobs meaningfully. Given that this is a minimum viable product (MVP) model, such advanced pre-processing steps can be deferred until necessary or later stages.

When analyzing features like readmission and daily_charges, these variables may not be appropriate for predicting future hospital days in certain scenarios. This is because they are known only after or during a hospital stay making them impossible to use for prediction at the time of admission. The readmission variable is determined after a patient is discharged and readmitted within a month. If the model is trying to predict hospital days during the initial admission, the patientâ€™s future readmission status would be unknown, thus making it inappropriate for the model prediction in such a case. Since daily charges represent the average cost per day, it is typically calculated at the end or after the hospital stay has occurred. Thus, it is not entirely possible to use to predict hospital days as this information would not be available during the patientâ€™s stay or at the start of admission. Including it would be considered data leakage.

## C4.  Provide a copy of the cleaned data set.

# Part IV: Modeling Analysis

D.  Perform the modeling data analysis and report on the results by doing the following:

1.  Split the data into training and test data sets and provide the file(s).

2.  Describe the modeling analysis technique you used to appropriately model analyze the data. Include screenshots of the intermediate calculations you performed.

3.  Provide the code used to perform the classification model analysis from part D2.

# Part V: Data Summary and Implications

E.  Summarize your data analysis by doing the following:

1.  Explain the accuracy and the area under the curve (AUC) of your classification model.

2.  Discuss the results and implications of your classification analysis.

3.  Discuss one limitation of your data analysis.

4.  Recommend a course of action for the real-world organizational situation from part A1 based on your results and implications discussed in part E2.

# Web Sources
- https://www.cdc.gov/diabetes/php/data-research/index.html#:~:text=Among%20the%20U.S.%20population%20overall,Table%201a%3B%20Table%201b).

- https://www.ibm.com/topics/naive-bayes#:~:text=IBM-,What%20are%20Na%C3%AFve%20Bayes%20classifiers%3F,probability%20to%20perform%20classification%20tasks.

- https://scikit-learn.org/stable/modules/naive_bayes.html

- https://www.youtube.com/watch?v=O2L2Uv9pdDA

- https://iq.opengenus.org/types-of-naive-bayes/

- https://spotintelligence.com/2024/05/31/naive-bayes-classification/